.app {
  padding: 50px;
}
.app h1 {
  text-align: center;
  color: rgb(202, 196, 196);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 10px;
}
body {
  background: rgb(43, 42, 42);
}
form {
  padding: 40px;
  background-color: rgb(85, 80, 80);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__box-input {
  border-radius: 8px;
  border: none;
  height: 30px;
  margin: 1px;
  flex: 1;
}
.search__box-button {
  border-radius: 8px;
  border: none;
  height: 30px;
  margin: 10px;
  flex: 0.3;
  background-color: rgb(38, 75, 110);
  color: wheat;
}
input:focus {
  outline: none;
}
