.app {
  padding: 50px 0px;
}
.app h1 {
  text-align: center;
  color: rgb(202, 196, 196);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 10px;
}
body {
  background: rgb(43, 42, 42);
}
.search__box {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding: 40px;
  background-color: rgb(85, 80, 80);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  width: 50%;
}

.search__box-input {
  border-radius: 8px;
  border: none;
  height: 40px;
  margin: 1px;
  flex: 1;
}
.search__box-button {
  border-radius: 8px;
  border: none;
  height: 40px;
  margin: 10px;
  max-width: 100px;
  flex: 0.3;
  background-color: rgb(38, 75, 110);
  color: wheat;
}
input:focus {
  outline: none;
}
.img__container {
  display: flex;
  justify-content: center;
  width: 250px;
  object-fit: contain;
  align-items: center;
  margin: 10px;
}
img {
  max-width: 250px;
  margin: 10px;
}
.dog__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
p {
  color: white;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 100px;
}
